<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimpleOnlineShoping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ValidateDataUserServlet</display-name>
    <servlet-name>ValidateDataUserServlet</servlet-name>
    <servlet-class>in.vamsoft.training.onlineshoping.ValidateDataUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateDataUserServlet</servlet-name>
    <url-pattern>/ValidateDataUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>in.vamsoft.training.onlineshoping.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>in.vamsoft.training.onlineshoping.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>Discount</param-name>
    <param-value>0.30</param-value>
  </context-param>
  <context-param>
    <param-name>GST</param-name>
    <param-value>0.12</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>BillAmountServlet</display-name>
    <servlet-name>BillAmountServlet</servlet-name>
    <servlet-class>in.vamsoft.training.onlineshoping.BillAmountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillAmountServlet</servlet-name>
    <url-pattern>/BillAmountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>in.vamsoft.training.onlineshoping.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>