<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertingData</display-name>
    <servlet-name>InsertingData</servlet-name>
    <servlet-class>in.vamsoft.training.InsertingData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertingData</servlet-name>
    <url-pattern>/InsertingData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitParmTestServlet</display-name>
    <servlet-name>InitParmTestServlet</servlet-name>
    <servlet-class>in.vamsoft.training.InitParmTestServlet</servlet-class>
    <init-param>
      <param-name>companyName</param-name>
      <param-value>vamsoft</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParmTestServlet</servlet-name>
    <url-pattern>/InitParmTestServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>city</param-name>
    <param-value>chennai</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>InitParmaTestServlet</display-name>
    <servlet-name>InitParmaTestServlet</servlet-name>
    <servlet-class>in.vamsoft.training.InitParmTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParmaTestServlet</servlet-name>
    <url-pattern>/InitParmaTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecoundInitServlet</display-name>
    <servlet-name>SecoundInitServlet</servlet-name>
    <servlet-class>in.vamsoft.training.SecoundInitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecoundInitServlet</servlet-name>
    <url-pattern>/SecoundInitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>in.vamsoft.training.intercommunication.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InterServlet</display-name>
    <servlet-name>InterServlet</servlet-name>
    <servlet-class>in.vamsoft.training.intercommunication.InterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterServlet</servlet-name>
    <url-pattern>/InterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>in.vamsoft.training.calulateSalary.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalarySlipServlet</display-name>
    <servlet-name>SalarySlipServlet</servlet-name>
    <servlet-class>in.vamsoft.training.calulateSalary.SalarySlipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalarySlipServlet</servlet-name>
    <url-pattern>/SalarySlipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorHandleServlet</display-name>
    <servlet-name>ErrorHandleServlet</servlet-name>
    <servlet-class>in.vamsoft.training.calulateSalary.ErrorHandleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandleServlet</servlet-name>
    <url-pattern>/ErrorHandleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>in.vamsoft.training.servlet.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecoundServlet</display-name>
    <servlet-name>SecoundServlet</servlet-name>
    <servlet-class>in.vamsoft.training.servlet.SecoundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecoundServlet</servlet-name>
    <url-pattern>/SecoundServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cookies</display-name>
    <servlet-name>Cookies</servlet-name>
    <servlet-class>in.vamsoft.training.servlet.sessionhandling.Cookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookies</servlet-name>
    <url-pattern>/Cookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetPreference</display-name>
    <servlet-name>SetPreference</servlet-name>
    <servlet-class>in.vamsoft.training.servlet.sessionhandling.SetPreference</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPreference</servlet-name>
    <url-pattern>/SetPreference</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookiesExample</display-name>
    <servlet-name>CookiesExample</servlet-name>
    <servlet-class>in.vamsoft.training.servlet.sessionhandling.CookiesExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookiesExample</servlet-name>
    <url-pattern>/CookiesExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateDataUserServlet</display-name>
    <servlet-name>ValidateDataUserServlet</servlet-name>
    <servlet-class>in.vamsoft.training.servlet.sessionhandling.ValidateDataUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateDataUserServlet</servlet-name>
    <url-pattern>/ValidateDataUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePageServlet</display-name>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>in.vamsoft.training.servlet.sessionhandling.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/HomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferFunds</display-name>
    <servlet-name>TransferFunds</servlet-name>
    <servlet-class>in.vamsoft.training.servlet.sessionhandling.TransferFunds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferFunds</servlet-name>
    <url-pattern>/TransferFunds</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>in.vamsoft.training.servlet.sessionhandling.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>